body{
    background-color:#e0def4;
}

.Navigation_Bar h1, ul{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    text-align: right;
    font-size:large;
}

.Navigation_Bar h1, a{
    text-decoration: none;
    padding: 10px;
    color:#31748f;
}

h1{
    font-family: 'Quicksand', sans-serif;
    color:#31748f;
}

footer{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    padding-top:40px;

}

p{
    font-family: 'Karma', serif;  
    color:#191724;
}

.new_note{
    position: relative;
    left: 200px;
    top:50px;
    font-family: 'Karma', serif;  
    color:#191724;
}

