body{
    background-color:#f2e9e1;
    
}

.Navigation_Bar header, ul{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    text-align: right;
    font-size:large;
}

.Navigation_Bar header, a{
    text-decoration: none;
    padding: 10px;
    color:#31748f;
}
.Navigation_Bar a:hover{
    color:#191724;
}

header{
    font-family: 'Quicksand', sans-serif;
    color:#31748f;
}

footer {
    color:#31748f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width:100%;
  }

p{
    font-family: 'Karma', serif;  
}
/* .sidenav{ */
   /* width:auto; */
   /* height: 50px;
}
.sidenav ul{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    list-style-type: none;
} */
.new_note_text{ 
    font-family: 'Karma', serif;  
    background-color: transparent;
    outline:none; 
    border: none; 
    font-size: x-large;
    color: #31748f;
}
.new_note{
    position: relative;
    font-family: 'Karma', serif;  
    color:#191724;
    background-color: transparent;
    outline:none;
    border: none;
    font-size: x-large;
    color: #31748f;
    width:100%;
}

.new_note:hover{
    color:#191724
}
.new_note_text:hover{
    color:#191724
}

.textarea_button{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
    flex-flow:row wrap;  
    min-width: 0; 
}

.container{
    display: flex;
    flex-direction:column;
}

.buttons{
    display:flex;
    justify-content: flex-end;
}

textarea{
    width: 300px;
    height:200px;
    background-color: #fffaf3;
    border:none;
    font-family: 'Karma', serif; 
    color:#9893a5;
    resize: none;
}
.save_button{
    font-family: 'Karma', serif;  
    color:#191724;
    background-color: transparent;
    outline:none;
    border: none;
    font-size: medium;
    color: #31748f;
}

.delete{
    font-family: 'Karma', serif;  
    color:#eb6f92;
    background-color: transparent;
    outline:none;
    border: none;
    font-size: medium;
}
.save_button:hover{
    color:#191724;
}

.delete:hover{
    color:#191724;
}

.menu{
    height: 100%; 
    width: 50; 
    position: fixed;
    top: 0; 
    left: 0;
    background-color: #fffaf3;
     
}

.menu ul{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: left;
    width:100%;
    list-style-type: none; 
}

.menu li{
    color: #31748f;
    margin-top: 20%;
    display:flex;
    flex-direction:column;

}
.my_notes{
    color:#191724;
    font-family: 'Karma', serif; 
}

.notes{
    color: #31748f;
    font-family: 'Karma', serif; 
}

.slide_in_button{
    position:relative;
    background-color: transparent;
    outline:none;
    border: none;
    font-size: x-large;
    color: #31748f;
    text-align: right;
    /* left:50px; */
}
.slide_out_button{
    display:flex;
    position:relative;
    background-color: transparent;
    outline:none;
    border: none;
    font-size: x-large;
    color: #31748f;
    padding-bottom:100px;
    

}
.slide_out_button:hover{
    color:#191724;
}

.slide_in_button:hover{
    color:#191724;
}

.notes_list{
    
    /* position:fixed; */
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    padding-left:0px;
}

.sidelist{
    display:flex;
    flex-direction: column;
    top:0;
    left:0;
    position:fixed;
    height:100vh;
    width: 15%;
    background-color: #fffaf3;
}

@media screen and (max-width: 480px) {
    body {
        background-color:#fffaf3;
    }
    textarea{
        width:150px;
        height:200px;
        background-color:#f2e9e1;
    }
    
    .sidelist{
        background-color:#f2e9e1;
    }
    
}
